.logo{
	font-family: Helvetica;
}
.navegacion{
	font-size: 1.2em;

}
.navegacion p:hover{
	background: saddlebrown;
}

.navegacion p:hover a{
	color: white;
}
.menu-opciones{
	display: inline;
	padding: 10px;
}
.juego{
	margin-top: 40px;
}
.row img{
	transition: 0.5s;
}
.row img:hover{
	opacity: 0.84;
}